<div class="pr col-xs-3">
  <caption>Consumi inseriti da utente</caption>
  <table class="google-visualization-table-table">
    <thead>
      <tr class="google-visualization-table-tr-head">
        <th class="google-visualization-table-th gradient unsorted">Mese
          <span class="google-visualization-table-sortind"></span>
        </th>
        <th class="google-visualization-table-th gradient unsorted">f1
          <span class="google-visualization-table-sortind"></span>
        </th>
        <th class="google-visualization-table-th gradient unsorted">f2
          <span class="google-visualization-table-sortind"></span>
        </th>
        <th class="google-visualization-table-th gradient unsorted">f3
          <span class="google-visualization-table-sortind"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="google-visualization-table-tr-even" ng-repeat="month in home.months">
        <td class="google-visualization-table-td">
          {{month}}
        </td>
        <td class="google-visualization-table-td google-visualization-table-td-number">
          <input type="text" style="width:50px" value="€ {{home.tables[month].f1}}" />
        </td>
        <td class="google-visualization-table-td google-visualization-table-td-number">
          <input type="text" style="width:50px" value="€ {{home.tables[month].f2}}" />
        </td>
        <td class="google-visualization-table-td google-visualization-table-td-number">
          <input type="text" style="width:50px" value="€ {{home.tables[month].f3}}" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <div class="pr col-xs-3">
    <caption>Prezzi base</caption>
    <table class="google-visualization-table-table">
      <thead>
        <tr class="google-visualization-table-tr-head">
          <th class="google-visualization-table-th gradient unsorted">Mese
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f1
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f2
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f3
            <span class="google-visualization-table-sortind"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="google-visualization-table-tr-even" ng-repeat="month in home.months">
          <td class="google-visualization-table-td">
            {{month}}
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prb1}}" />
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prb2}}" />
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prb3}}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pr col-xs-3">
    <caption>Prezzi finali</caption>
    <table class="google-visualization-table-table">
      <thead>
        <tr class="google-visualization-table-tr-head">
          <th class="google-visualization-table-th gradient unsorted">Mese
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f1
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f2
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">f3
            <span class="google-visualization-table-sortind"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="google-visualization-table-tr-even" ng-repeat="month in home.months">
          <td class="google-visualization-table-td">
            {{month}}
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prf1}}" />
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prf2}}" />
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].prf3}}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="imp col-xs-2">
    <caption>Importi mensili</caption>
    <table class="google-visualization-table-table" >
      <thead>
        <tr class="google-visualization-table-tr-head">
          <th class="google-visualization-table-th gradient unsorted">Mese
            <span class="google-visualization-table-sortind"></span>
          </th>
          <th class="google-visualization-table-th gradient unsorted">
            <span class="google-visualization-table-sortind"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="google-visualization-table-tr-even" ng-repeat="month in home.months">
          <td class="google-visualization-table-td">
            {{month}}
          </td>
          <td class="google-visualization-table-td google-visualization-table-td-number">
            <input type="text" style="width:50px" value="€ {{home.tables[month].imp}}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1 col-xs-1">
    <caption>Spread
      <div id="spread"></div>
    </caption>
  </div>

</div>

</div>
