/*–––––––––––––––––––––––––––––––––*/
//	Google Font - Roboto
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);

/*–––––––––––––––––––––––––––––––––*/
//	Compass
@import "compass/reset";
@import "compass";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "../../../lib/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../../lib/bootstrap-sass/assets/stylesheets/bootstrap";

/*–––––––––––––––––––––––––––––––––*/
//	Styles
* {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
.col-md-3 .pr{
  @media (max-device-width : 480px) {

  }
  @media (max-width : 1300px) and (min-width : 900px) {
    width: 250px;
  }
}
.col-md-2 .imp{
  @media (max-device-width : 480px) {
  
  }
  @media (max-width : 1300px) and (min-width : 900px) {
    width: 250px;
  }
}
